"""

@Author: Rikesh Chhetri

@Date: 2021-08-28

@Last Modified by: Rikesh Chhetri

@Last Modified time: 2021-08-28 07:03:30

@Title : Program to insert a cpu log data.csv file from hdfs and using spark convert it into dataframe and putting it into hive table

"""

# creating spark sesion with hive support enable

In [ ]:
from pyspark.sql import SparkSession
from loghandler import logger
try:
    appName = "PySpark MySQL Example - via mysql.connector"
    master = "local"
    spark = SparkSession.builder.master(master).appName(appName).enableHiveSupport().getOrCreate()
except Exception as e:
    logger.error(e)

# creating dataframe of csv file using spark and selecting only 4 columns from csv

In [ ]:
try:
    df = spark.read.csv("hdfs://localhost:9000/csv_data/*.csv",header=True)
    df2 = df.select("user_name","DateTime","keyboard","mouse")
    df2.createOrReplaceTempView('myview')
except Exception as e:
    logger.error(e)

In [ ]:
df2.show()

# Now Adding these dataframe into hive table using different method

## Method 1

In [ ]:
try:
    # Save df to a new table in Hive we just need database table name we can give anything
    df2.write.mode("overwrite").saveAsTable("test.test_data")

except Exception as e:
    logger.error(e)

## Method 2

### loading spark dataframe by creating view and inserting it into hive

In [ ]:
try:
    # here test is a database name and just give anything for table name it will create automatically
    spark.sql("create table test.test2 as select * from myview")

except Exception as e:
    logger.error(e)

## Showing The hive tables

In [ ]:
try:
    
    dfs = spark.sql("use test")
    dfs1 = spark.sql("show tables")
    dfs1.show()

except Exception as e:
    logger.error(e)